services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: backend # ⬅️ Dùng stage backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:123456@db:5432/sudoku_game

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend # ⬅️ Dùng stage frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: sudoku_game
    ports:
      - "5432:5432"
